@font-face {
  font-family: Inter;
  src:
    local('ScienceGothic-Variable'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Press Start';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}