@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Press Start';
  src:
    local('Press Start 2P'),
    url('../fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}